// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

:root {
  // Accent color: use Claro defaults for Gin
  --colorGinPrimary: #{$ginPrimary};
  --colorGinPrimaryHover: #{$ginPrimaryHover};
  --colorGinPrimaryActive: #{$ginPrimaryActive};
  --colorGinPrimaryLight: #{mix(white, $mixColor, 85%)};
  --colorGinPrimaryLightHover: #{mix(white, $mixColor, 70%)};
  --colorGinPrimaryLightActive: #{mix(white, $mixColor, 60%)};
  --colorGinItemHover: #{rgba($ginPrimary, .06)};
  --colorGinButtonShadow: #00000033;
  --colorGinButtonText: #fff;
  --colorGinFocus: #059fad; //#00a590; //#0ba77d; //#2297c7;

  --colorGinDisabled: #bbb;
  --colorGinWarning: #d8b234;
  --colorGinWarningLight: #efcf64;
  --colorGinWarningBackground: #{mix(black, #efcf64, 60%)};
  --colorGinDanger: #cc3d3d;
  --colorGinDangerLight: #f39b9d;
  --colorGinDangerBackground: #{mix(black, #dc7f7f, 60%)};
  --colorGinGreen: #058260;
  --colorGinGreenLight: #32cea4;
  --colorGinGreenBackground: #{mix(black, #32cea4, 60%)};
  --colorGinInfo: #082538;
  --colorGinInfoLight: #589ac5;
  --colorGinInfoBackground: #{mix(black, #2d6c96, 60%)};

  --colorGinAppBackground: #{$colorAppBackground};
  --colorGinLayerBackground: #fff;
  --colorGinLayer2Background: #edeff5;
  --colorGinLayer3Background: #fff;
  --colorGinLayer4Background: #e2e5ec; //#dee2ec; //#e3e3e8;
  --colorGinContextual: var(--colorGinText);
  --colorGinContextualText: #eee;
  --colorGinBorder: #d4d4d8;
  --colorGinLayerBorder: rgba(0, 0, 0, .08);
  --colorGinLayer2Border: #d4d4d8;
  --colorGinTableBorder: rgba(0, 0, 0, .15);
  --colorGinTabsBorder: rgba(0, 0, 0, .15);
  --colorGinFormElementBorder: #8E929C;

  --colorGinTitle:#222330;
  --colorGinText: #222330;
  --colorGinTextLight: #545560;

  --colorGinTableHeader: var(--colorGinLayer4Background);
  --colorGinSwitch: #26a769;
  --colorGinSwitchShadow: rgba(38, 167, 105, .3);

  --colorGinIcons: #777883; //#6e6d7a;
}

.gin--dark-mode {
  $ginPrimary: #90aeef;
  --colorGinPrimary: #{$ginPrimary};
  --colorGinPrimaryHover: #{mix(white, $ginPrimary, 10%)};
  --colorGinPrimaryActive: #{mix(white, $ginPrimary, 15%)};
  --colorGinPrimaryLight: #{rgba($ginPrimary, .20)};
  --colorGinPrimaryLightHover: #{rgba($ginPrimary, .30)};
  --colorGinPrimaryLightActive: #{rgba($ginPrimary, .40)};
  --colorGinItemHover: #{rgba($ginPrimary, .10)};
  --colorGinButtonShadow: rgba(#111, .9);
  --colorGinButtonText: #111;
  --colorGinFocus: var(--colorGinPrimary); //#19a6b3; //#0ac3ac; //#96eab2; //#5dc0cf; //#32cea4; //#59caf9;

  --colorGinDisabled: #999;
  --colorGinWarning: #dec15f;
  --colorGinDanger: #ce6060;
  --colorGinGreen: #32cea4;
  --colorGinInfo: #559bca;

  --colorGinAppBackground: #{$colorDarkAppBackground};
  --colorGinLayerBackground: #2A2A2D;
  --colorGinLayer2Background: #3B3B3F;
  --colorGinLayer3Background: #47474c;
  --colorGinLayer4Background: #19191b;
  --colorGinContextual: var(--colorGinLayer3Background);
  --colorGinBorder: #43454a;
  --colorGinLayerBorder: rgba(0, 0, 0, .05);
  --colorGinLayer2Border: #76777B;
  --colorGinTableBorder: #43454a;
  --colorGinTabsBorder: rgba(255, 255, 255, .12);
  --colorGinFormElementBorder: var(--colorGinLayer2Border);

  --colorGinTitle: #fff;
  --colorGinText: #ccc;
  --colorGinTextLight: #9e9fa0;

  --colorGinTableHeader: var(--colorGinAppBackground);
  --colorGinSwitch: var(--colorGinPrimary);
  --colorGinSwitchShadow: var(--colorGinPrimaryLight);

  --colorGinIcons: #888;
}

$ginColors: (
  claro_blue: #003cc5,
  light_blue: #426af4,
  dark_purple: #4300bf,
  purple: #5b00ff,
  teal: #10857f,
  green: #26a769,
  red: #d8002f,
  orange: #ef5c20,
  yellow: #c58900,
  pink: #e23177
);

@each $name, $color in $ginColors {
  [data-gin-accent=#{$name}] {
    --colorGinPrimary: #{$color};
    --colorGinPrimaryHover: #{mix(black, $color, 15%)};
    --colorGinPrimaryActive: #{mix(black, $color, 25%)};
    --colorGinPrimaryLight: #{rgba($color, .15)};
    --colorGinPrimaryLightHover: #{rgba($color, .25)};
    --colorGinPrimaryLightActive: #{rgba($color, .35)};
    --colorGinItemHover: #{rgba($color, .06)};
  }
}

$ginDarkmodeColors: (
  claro_blue: #7391d8,
  light_blue: #82bfe8,
  dark_purple: #976bef,
  purple: #dba5ef,
  teal: #67efce,
  green: #6bd4a1,
  red: #ca6d6d,
  orange: #f79576,
  yellow: #f1c970,
  pink: #e79da3
);

@each $name, $color in $ginDarkmodeColors {
  .gin--dark-mode[data-gin-accent=#{$name}],
  .gin--dark-mode [data-gin-accent=#{$name}] {
    --colorGinPrimary: #{$color};
    --colorGinPrimaryHover: #{mix(white, $color, 10%)};
    --colorGinPrimaryActive: #{mix(white, $color, 15%)};
    --colorGinPrimaryLight: #{rgba($color, .20)};
    --colorGinPrimaryLightHover: #{rgba($color, .30)};
    --colorGinPrimaryLightActive: #{rgba($color, .40)};
    --colorGinItemHover: #{rgba($color, .1)};
  }
}

.gin--high-contrast-mode {
  $highContrastMode: rgba(0, 0, 0, .8);

  --colorGinText: #{$highContrastMode};
  --colorGinIcons: #{$highContrastMode};
  --colorGinFocus: #{$highContrastMode};
  --colorGinBorder: #{$highContrastMode};
  --colorGinLayerBorder: rgba(0, 0, 0, .6);
  --colorGinLayer2Border: #{$highContrastMode};
  --colorGinTableBorder: #{$highContrastMode};
  --colorGinTabsBorder: #{$highContrastMode};
  --colorGinFormElementBorder: #{$highContrastMode};

  &.gin--dark-mode {
    $highContrastMode: rgba(255, 255, 255, .8);

    --colorGinText: #{$highContrastMode};
    --colorGinIcons: #{$highContrastMode};
    --colorGinFocus: #{$highContrastMode};
    --colorGinBorder: #{$highContrastMode};
    --colorGinLayerBorder: rgba(255, 255, 255, .6);
    --colorGinLayer2Border: #{$highContrastMode};
    --colorGinTableBorder: #{$highContrastMode};
    --colorGinTabsBorder: #{$highContrastMode};
    --colorGinFormElementBorder: #{$highContrastMode};
  }
}
