// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

// Components
@import "components/coffee";

// Toolbar
#toolbar-item-administration-tray {
  @include mq($breakpointMedium) {
    border: 0 none;
  }
}

.toolbar {
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .toolbar-bar {
    box-shadow: none;

    @include mq($breakpointXSmall) {
      display: flex;
    }

    @include mq($breakpointLarge) {
      height: 0;
    }

    .toolbar-tab > .toolbar-item {
      font-weight: normal;
    }

    #toolbar-item-administration-tray a.toolbar-icon,
    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &:before {
        @include mq($breakpointMedium) {
          left: #{round($toolbarWidth / 2.666666667) - 1px};
          width: 21px;
        }
      }
    }

    @include mq($breakpointMedium) {
      // Toolbar logo
      .toolbar-logo {
        height: 88px;
      }

      // Admin tray: Home icon
      .toolbar-icon-home {
        display: block;
        width: 100%;
        margin: 8px 0;
      }

      #toolbar-item-administration-tray a.toolbar-icon.override-icon {
        &:before {
          left: 0;
          width: 0;
          content: none;
        }
      }
    }

    // Custom logo
    #toolbar-item-administration-tray .toolbar-logo {
      img {
        max-width: 44px;
        max-height: 40px;
      }
    }

    #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default {
      mask-size: 20px 20px;

      @include mq($breakpointMedium) {
        font-size: 0;
        height: 88px;
        transition: top $transition;
        mask-size: 100% 100%;
      }

      &:before {
        $logoSize: 28px;

        @include mq($breakpointMedium) {
          width: $logoSize;
          left: #{round($toolbarWidth / 2.666666667) - 4px};
          // background-color: var(--colorGinText);
          mask-size: $logoSize $logoSize;
          mask-position: center 28px;
        }
      }
    }

    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &, &:hover, &:active, &.is-active {
        color: var(--colorGinAppBackground);

        &:before {
          background-image: none;
          background-color: var(--colorGinAppBackground);
        }
      }
    }
  }
}

.toolbar-tray a {
  color: var(--colorGinText);
}

#toolbar-bar.js-settings-tray-edit-mode {
  justify-content: flex-end;
}

#toolbar-item-administration-tray a.toolbar-icon.override-icon {
  &:before {
    @include mq($breakpointMedium) {
      left: 0;
      width: 0;
      content: none;
    }
  }
}

.toolbar .toolbar-bar {
  position: fixed;
  left: 0;
  width: 100%;
}

.toolbar .toolbar-menu {
  background: transparent;

  .toolbar-menu {
    background: var(--colorGinAppBackground);

    a {
      color: var(--colorGinText);
    }
  }
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray a.is-active {
  color: var(--colorGinPrimary);
  font-weight: 600;
  text-decoration: none;

  @include mq(max-width $breakpointMedium) {
    background: var(--colorGinItemHover);
  }
}

// Mobile: hide menu titles
.toolbar-menu__title,
.toolbar-menu__sub-title,
a.toolbar-menu__trigger,
.toolbar-menu__logo {
  display: none;
}

// New Desktop Toolbar
@include mq($breakpointMedium) {
  #toolbar-item-administration-tray {
    display: block;
  }

  .toolbar-fixed {
    padding-top: 0 !important;
    padding-left: $toolbarWidth;
    transition: $transition;

    &[data-toolbar-menu='open'] {
      padding-left: $toolbarOpenWidth;
    }
  }

  .toolbar .toolbar-box {
    position: static;
  }

  .toolbar-tab > .toolbar-item {
    &.toolbar-icon-menu {
      display: none;
    }
  }

  .toolbar-menu-administration a.toolbar-menu__trigger {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: $toolbarWidth;
    height: 64px;
    padding: 16px 0 16px #{$toolbarWidth};
    margin: 0;
    transition: width $transition;

    &, &:active, &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--colorGinItemHover);

      &:before {
        background-color: var(--colorGinTitle);
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: #{round(($toolbarWidth - 34px) / 2) - 1px};
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--colorGinBorder);
      background: var(--colorGinLayerBackground) url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z' fill='%23999999'/%3E%3C/svg%3E") no-repeat center center;
      background-size: 12px 12px;
      transition: transform $transition;
    }

    &.is-active {
      display: flex;
      font-size: 1rem;
      font-weight: normal;
      color: var(--colorGinTextLight);
      width: $toolbarOpenWidth;

      &:hover {
        color: var(--colorGinTitle);
      }

      &:before {
        transform: rotate(180deg);
      }
    }

    .menu {
      display: none;
    }

    .close {
      display: inline;
    }
  }

  .toolbar-tab--toolbar-item-administration {
    order: -1;
  }

  .toolbar-menu__logo {
    display: block;
    width: $toolbarWidth;
    height: 100%;
    background: rgba(255, 255, 255, .075) url(../media/drupal.svg) no-repeat left 21px center;
    background-size: 56px auto;

    &:hover {
      background-color: rgba(255, 255, 255, 0.125);
    }
  }

  .toolbar-menu-administration {
    display: flex;
    position: fixed;
    top: auto;
    left: 0;
    width: $toolbarWidth;
    height: 100vh;
    max-width: calc(100% - #{$topBar});
    background: var(--colorGinLayerBackground);
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.075);
    // box-shadow: 0 0 48px scale-color($colorAppBackgroundShadow, $lightness: -3%);
    border-right: 1px solid var(--colorGinLayerBorder); //rgba(0, 0, 0, .1);
    transition: $transition;

    .gin--dark-mode & {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    [data-toolbar-menu='open'] & {
      width: $toolbarOpenWidth;
    }

    .toolbar-tray-horizontal & {
      ul li.menu-item--expanded .menu-item.hover-intent ul {
        margin-top: 0;
        margin-left: ($subToolbarWidth - 2px);
      }
    }

    // Open Menu
    .toolbar-vertical & {
      width: $subToolbarWidth;

      > .toolbar-menu {
        > .menu-item {
          border-top: 0 none;
          border-bottom: 0 none;

          > .toolbar-icon,
          > .toolbar-box > .toolbar-icon {
            width: auto;
            padding-left: 3.5rem;
          }

          .toolbar-menu {
            left: $subToolbarWidth;
          }
        }
      }
    }

    > .toolbar-menu {
      align-self: flex-start;
      height: 100%;
      max-height: calc(100% - 68px);
      overflow-y: auto;
      background: transparent;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      .menu-item__spacer {
        flex-grow: 1;
      }

      > .menu-item {
        > .toolbar-icon,
        > .toolbar-box > .toolbar-icon {
          font-size: 1rem;
          color: var(--colorGinTextLight);
          display: flex;
          align-items: center;
          width: $toolbarWidth;
          height: 56px;
          padding-left: $toolbarWidth;
          padding-right: 0;
          overflow: hidden;

          &:hover {
            color: var(--colorGinTitle);
            background-color: transparent;
          }

          [data-toolbar-menu='open'] & {
            width: $toolbarOpenWidth;
            padding-left: $toolbarWidth;
          }

          &.is-active {
            color: var(--colorGinPrimary);
            font-weight: 600;

            &:before {
              background: var(--colorGinPrimary);
            }

            &:after {
              content: "";
              opacity: .9;
              position: absolute;
              top: 22px;
              left: #{round($toolbarWidth / 2)};
              display: block;
              width: 4px;
              height: 4px;
              box-shadow: 2px 3px 15px var(--colorGinPrimary),
                          2px 3px 20px var(--colorGinPrimary),
                          2px 3px 30px var(--colorGinPrimary);
            }
          }

          &.toolbar-handle {
            width: $toolbarWidth;

            &:before {
              display: none;
            }
          }
        }

        .toolbar-menu {
          display: none;
          position: fixed;
          top: 0;
          margin-left: ($toolbarWidth - 2px);
          width: $subToolbarWidth;
          height: 100vh;
          max-width: calc(100% - #{$topBar});
          background: var(--colorGinLayerBackground);
          box-shadow: none;
          border-left: 1px solid rgba(216, 217, 224, 0.8);

          .gin--dark-mode & {
            border-left: 1px solid $colorDarkAppBackground;
          }

          // Link color
          a {
            color: var(--colorGinText);

            &.is-active {
              color: var(--colorGinPrimary);
              font-weight: 500;
              background: var(--colorGinItemHover);
            }
          }

          &__title,
          &__sub-title {
            display: block;
            min-height: 36px;
            font-size: 2em;
            font-weight: normal;
            letter-spacing: -.025em;
            padding: 0;
            margin: 0;

            a {
              color: var(--colorGinTitle);
              padding: 32px 24px 38px 24px;
            }
          }

          &__sub-title {
            font-size: 1.667em;
            letter-spacing: -.01em;
            margin-bottom: 5px;

            a {
              padding: 36px 24px 34px 24px;
            }
          }

          .menu-item {
            border-top: 0 none;
            border-left: 0 none;
            border-bottom: 0 none;

            .toolbar-icon {
              font-size: 1rem;
              padding: 1.25em 2rem 1.25em 1.5rem;
            }
          }
        }
      }
    }

    .menu-item.hover-intent > .toolbar-menu {
      display: block;
      border-right: 1px solid rgba(0,0,0,.075);
      box-shadow: 7px 0px 16px rgba(0,0,0,.075);
    }
  }

  // Hide Drupal's default toggle for sidebar
  .toolbar .toolbar-toggle-orientation button {
    display: none;
  }

  // home tab
  .menu-item__tools,
  .menu-item__admin_toolbar_tools-help {
    margin-bottom: 8px;
  }
}

.gin--dark-mode.toolbar-horizontal .toolbar-tray > .toolbar-lining {
  padding-right: 0;
}

.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: rgba(255, 255, 255, .1);
}

#toolbar-item-administration-search-tray input {
  width: 100%;
  max-width: calc(100% - 16px);
  outline: none;
}

@import "components/toolbar";
@import "components/toolbar-meta";

.toolbar {
  .toolbar-bar {
    .toolbar-icon-admin-toolbar-tools-help,
    .toolbar-icon-system-admin-content,
    .toolbar-icon-system-admin-structure,
    .toolbar-icon-system-themes-page,
    .toolbar-icon-system-modules-list,
    .toolbar-icon-system-admin-config,
    .toolbar-icon-entity-user-collection,
    .toolbar-icon-system-admin-group,
    .toolbar-icon-system-admin-reports,
    .toolbar-icon-help-main,
    .toolbar-icon-commerce-admin-commerce,
    .toolbar-icon-tmgmt-admin-tmgmt,
    .toolbar-icon-escape-admin,
    .toolbar-icon-edit,
    .toolbar-icon-local-tasks,
    .toolbar-icon-menu,
    .toolbar-icon-shortcut,
    .toolbar-icon-coffee,
    .toolbar-icon-devel,
    .toolbar-icon-user,
    #toolbar-item-administration-search,
    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &:before {
        @include mq($breakpointMedium) {
          mask-size: 20px 20px;
        }
      }
    }
  }
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  position: relative;

  &:before {
    z-index: 1;
    top: 21px;
    right: 16px;
  }
}

#admin-toolbar-search-input {
  display: none;
}
