.button,
.dropbutton__item:first-of-type > *,
.dropbutton__toggle {
  color: var(--colorGinPrimary);
  background-color: transparent; //var(--colorGinPrimaryLight);
  box-shadow: none;

  &:hover {
    background-color: var(--colorGinPrimaryHover);
  }

  &:active, &:focus {
    background-color: var(--colorGinPrimaryActive);
  }

  &:hover, &:active, &:focus {
    color: var(--colorGinButtonText);
  }
}

.button,
.button:not(:focus),
.form-actions .button,
.action-link--icon-trash.action-link {
  .gin--dark-mode & {
    // box-shadow: 0 1px 2px var(--colorGinButtonShadow);
    box-shadow: 0 2px 18px var(--colorGinButtonShadow);
  }

  padding: calc(1rem - 2px) calc(1.5rem - 2px);
  border: 2px solid var(--colorGinPrimary) !important;
  border-radius: 4px;
  box-shadow: none;

  &:hover {
    border-color: var(--colorGinPrimaryHover) !important;
  }

  &:active, &:focus {
    border-color: var(--colorGinPrimaryActive) !important;
  }

  &:hover, &:active, &:focus, &:hover:focus {
    color: var(--colorGinButtonText);
  }
}

.button.button--small {
  padding: calc(0.5rem - 2px) calc(1rem - 2px);
}

.button.button--extrasmall {
  padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
}

.button--primary,
.button--primary:not(:focus),
.ief-entity-submit {
  background-color: var(--colorGinPrimary);
  // box-shadow: 0 2px 7px var(--colorGinButtonShadow);
  box-shadow: 0 .125em .25em var(--colorGinPrimaryLight),
              .1em .25em .5em var(--colorGinPrimaryLight),
              // 1em .75em 1.5em var(--colorGinPrimaryLight),
              -.25em -.5em 1em var(--colorGinAppBackground);

  &:hover {
    background-color: var(--colorGinPrimaryHover);
  }

  &:active, &:focus {
    background-color: var(--colorGinPrimaryActive);
  }

  &, &:hover, &:active, &:focus {
    color: var(--colorGinButtonText);
  }
}

a.button:hover,
a.button:active {
  color: var(--colorGinButtonText);
}

a.button--primary:hover,
a.button--primary:active,
a.button--primary:focus,
a.button--primary:focus:hover {
  .gin--dark-mode & {
    color: var(--colorGinAppBackground);
  }
}

.button.button:disabled, .buton.button.is-disabled {
  &, &:hover, &:active, &:focus {
    border: 2px solid var(--colorGinDisabled) !important;
  }

  .gin--dark-mode & {
    color: var(--colorGinDisabled);
    background-color: var(--colorGinLayer2Background);
  }
}

.action-link.action-link--icon-trash {
  min-height: 48px;
  padding: calc(.75rem - 1px) calc(1.5rem - 2px);
  box-sizing: border-box;

  &, &:hover, &:active, &:focus, &:focus:hover {
    border: 2px solid var(--colorGinDanger) !important;
  }
}
