.page-content {
  margin-top: 0;
}

.region-pre-content + .page-content {
  margin-top: 1.5rem;
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.panel,
.admin-list,
.view-watchdog .view-content,
.views-exposed-form.views-exposed-form,
.system-status-counter,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
.view-block-content .view-content,
.view-files .view-content,
.system-themes-list,
.modules-tabs,
#views-entity-list
{
  margin-top: 0;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, .08);
  border-radius: 8px;

  @include mq($breakpointMedium) {
    // box-shadow: 20px 20px 40px rgba(0, 0, 0, .05),
    //             -6px -6px 16px rgba(0, 0, 0, .02),
    //             -8px -8px 24px rgba(255, 255, 255, .5);
    // box-shadow: -8px -8px 40px rgba(255, 255, 255, .4),
    //             20px 20px 40px rgba(0, 0, 0, .05),
    //             -6px -6px 16px rgba(0, 0, 0, .02);
    box-shadow: -8px -8px 24px rgba(255, 255, 255, .5),
                20px 20px 40px scale-color($colorAppBackgroundShadow, $lightness: -5%),
                -6px -6px 16px scale-color($colorAppBackgroundShadow, $lightness: -2%),
                0 2px 6px 2px rgba(0, 0, 0, .03);
  }

  .gin--dark-mode & {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  }
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.views-exposed-form.views-exposed-form,
.panel,
.admin-list,
.update,
.view-files .view-content,
.view-watchdog .view-content,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
.view-block-content .view-content,
.system-themes-list,
#views-entity-list
{
  width: 100%;
  padding: .75rem;
  background: var(--colorGinLayerBackground);
  border: 1px solid var(--colorGinLayerBorder);
  box-sizing: border-box;

  @include mq($breakpointSmall) {
    padding: 1.5rem;
  }
}
