// Node layout
.gin--edit-form {
  // Has sidebar, save the space
  @include mq($breakpointLarge) {
    padding-right: var(--ginSidebarWidth);
  }

  .layout-node-form {
    overflow: inherit;

    @include mq($breakpointLarge) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .layout-region-node-main,
  .layout-region-node-secondary
  .layout-region-node-footer {
    float: none;
  }

  .layout-region-node-main,
  .layout-region-node-footer {
    width: 100%;
    padding-right: 0;

    @include mq($breakpointLarge) {
      flex-basis: 40%;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }

  .page-wrapper__node-edit-form {
    .block-page-title-block {
      @include mq(1730px) {
        width: 100%;
        max-width: $breakpointWide;
        margin: 0 auto;
      }

      .page-title {
        @include mq($breakpointLarge) {
          width: 100%;
          max-width: $breakpointWide;
          margin: 0 auto;
        }
      }
    }

    .block-local-tasks-block,
    .block-system-main-block,
    .messages-list,
    .node-form,
    .node-confirm-form,
    .admin-list,
    .help {
      width: 100%;
      max-width: $breakpointWide;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }

    .layout-region-node-secondary {
      width: 100%;

      @include mq($breakpointLarge) {
        z-index: 101;
        flex-basis: var(--ginSidebarWidth);
        width: var(--ginSidebarWidth) !important;
        position: fixed;
        top: 0; //15px;
        right: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%; //calc(100% - #{$topBar});
        background:var(--colorGinLayerBackground);
        box-shadow: 0 0 48px rgba(0, 0, 0, 0.075);
        // box-shadow: 0 0 48px scale-color($colorAppBackgroundShadow, $lightness: -3%);
        border-left: 1px solid var(--colorGinLayerBorder); //rgba(0, 0, 0, .1);

        .gin--dark-mode & {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }

      .gin-sidebar {
        .form-actions {
          margin: 0;

          .action-link {
            margin-bottom: 0;
          }
        }
      }

      .field--name-revision-log {
        margin-top: 1.5rem;
      }

      .accordion {
        background: none;
        border: 0 none;
        box-shadow: none;
      }

      .entity-meta {
        $sidebarSpacer: 1.5rem;

        &__header {
          color: var(--colorGinText);
          padding-left: 0;
          padding-right: 0;
          background: none;
          border: 0 none;

          @include mq($breakpointLarge) {
            padding-left: $sidebarSpacer;
            padding-right: $sidebarSpacer;
          }
        }

        &__title {
          color: var(--colorGinTitle);
          font-weight: 500;
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-shadow: none;
        }

        > .accordion__item {
          margin: 0;
          border: 0 none;
          border-bottom: 1px solid var(--colorGinTableBorder);
          border-radius: 0;

          > .claro-details__summary {
            display: block;
            padding-left: #{$sidebarSpacer + 1.5rem};

            &:before {
              left: $sidebarSpacer;
            }
          }

          .claro-details__content {
            margin-left: $sidebarSpacer;
            margin-right: $sidebarSpacer;

            .claro-details__wrapper {
              margin: 1.5rem;
            }
          }
        }
      }
    }
  }

  .revision-current {
    background-color: var(--colorGinPrimaryLightActive);
  }
}

.revision-current {
  background-color: transparent;

  td:first-of-type {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      border-left: 6px solid var(--colorGinGreen);
    }
  }
}
