.messages {
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  box-shadow:   20px 20px 40px scale-color($colorAppBackgroundShadow, $lightness: -5%),
                -6px -6px 16px scale-color($colorAppBackgroundShadow, $lightness: -2%);

  .gin--dark-mode & {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  }

  &, &-list {
    margin-top: 0;
  }

  a {
    &,
    &:hover,
    &:active {
      color: #fff;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__title,
  &__content {
    margin-left: 2.125rem;
  }

  .messages__header {
    position: relative;
    background-image: none;
    margin-bottom: .5rem;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 24px;
      height: 24px;
    }
  }

  &.messages--info {
    color: var(--colorGinInfoLight);
    background-color: var(--colorGinInfoBackground);
    border-color: var(--colorGinInfoBackground);

    .messages__header {
      background: none;

      &:before {
        background-color: var(--colorGinInfoLight);
        mask-image: icon('info');
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &.messages--status {
    color: var(--colorGinGreenLight);
    background-color: var(--colorGinGreenBackground);

    .messages__header {
      &:before {
        background-color: var(--colorGinGreenLight);
        mask-image: icon('status');
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &.messages--warning {
    color: var(--colorGinWarningLight);
    background-color: var(--colorGinWarningBackground);

    .messages__header {
      &:before {
        background-color: var(--colorGinWarningLight);
        mask-image: icon('warning');
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &--error {
    color: var(--colorGinDangerLight);
    background-color: var(--colorGinDangerBackground);

    .messages__header {
      &:before {
        background-color: var(--colorGinDangerLight);
        mask-image: icon('error');
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }
}
