.paragraphs-tabs-wrapper {
  tr {
    &:hover, &:focus {
      .gin--dark-mode &, & {
        background-color: inherit;
      }
    }
  }

  .paragraphs-subform {
    margin-top: 20px;
    margin-right: 31px;
  }

  .tabledrag-toggle-weight-wrapper {
    padding-bottom: 12px;
  }

  .field-multiple-table {
    thead, tbody {
      border: 1px solid var(--colorGinBorder);
    }

    thead {
      .label {
        display: inline-block;
        color: #444;
        padding-top: 4px;
      }
    }

    .draggable {
      td {
        padding: 30px 0 20px;
      }
    }
  }

  .paragraph-type-label {
    font-size: 16px;
    font-weight: bold;
  }

  .paragraphs-subform {
    .paragraph-type-label {
      font-size: 14px;
    }
  }

  .paragraph-type-add-modal,
  .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
    margin-right: 8px;
  }
}

.paragraph {
  .contextual {
    display: none;
  }
}

.paragraphs-dropdown-toggle {
  &:hover,
  &:active,
  &:focus {
    background-color: var(--colorGinPrimaryLight);
    border: 0 none;
  }
}

.paragraphs-dropdown-actions {
  .paragraphs-dropdown-action.button {
    font-size: 0.8125rem;
    padding: .5rem 1rem;
    margin: 0;
  }
}

.js .paragraph-type-icon {
  padding: 4px;
  margin-right: 8px;
}

.gin--dark-mode {
  .paragraphs-dropdown-actions {
    background: var(--colorGinLayer2Background);
    border-color: var(--colorGinBorder);
    box-shadow: 0 2px 6px 0 var(--colorGinAppBackground);
  }

  .paragraph-type-icon {
    background-color: var(--colorGinPrimary);
  }

  .paragraphs-type-icon {
    box-shadow: inset 0 0 0 10px var(--colorGinLayerBackground);
    background-color: #fff;
  }
}

.js .paragraphs-description .summary-content {
  color: var(--colorGinText);
}
