// Unknown
.upgrade-status-counter__status-icon--not-scanned:before,
.upgrade-status-summary tr.not-scanned > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinText);
  mask-image: icon('info');
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Checked
.system-status-counter__status-icon--checked:before,
.admin-dblog .dblog-info .icon,
.admin-dblog .dblog-notice .icon,
.system-status-report__status-icon--checked .details-title:before,
.details .system-status-report__status-icon--checked:before,
.color-checked .system-status-report__status-title:before,
.upgrade-status-counter__status-icon--checked:before,
.upgrade-status-error-list tr.no-known-error > td.status-info:before,
.upgrade-status-summary tr.no-known-error > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinGreen);
  mask-image: icon('status');
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Warning
.system-status-counter__status-icon--warning:before,
.admin-dblog .dblog-warning .icon,
.system-status-report__status-icon--warning .details-title:before,
.details .system-status-report__status-icon--warning:before,
.upgrade-status-counter__status-icon--warning:before,
.upgrade-status-error-list tr.known-warnings > td.status-info:before,
.upgrade-status-summary tr.known-warnings > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinWarning);
  mask-image: icon('warning');
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Error
.system-status-counter__status-icon--error:before,
.admin-dblog .dblog-error .icon,
.admin-dblog .dblog-critical .icon,
.admin-dblog .dblog-alert .icon,
.admin-dblog .dblog-emergency .icon,
.system-status-report__status-icon--error .details-title:before,
.details .system-status-report__status-icon--error:before,
.upgrade-status-counter__status-icon--error:before,
.upgrade-status-error-list tr.known-errors > td.status-info:before,
.upgrade-status-summary tr.known-errors > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinDanger);
  mask-image: icon('error');
  mask-repeat: no-repeat;
  mask-position: center center;
}

.system-status-counter,
.upgrade-status-counter {
  height: auto;
  padding: 16px 0;
  border: 1px solid var(--colorGinLayerBorder);
  background: var(--colorGinLayerBackground);

  &__status-title {
    padding-left: 0;
  }

  &__status-icon {
    background-color: transparent;
    border-right: 0 none;
    box-shadow: none;

    &--checked:before,
    &--warning:before,
    &--error:before {
      mask-position: center 16px;
      mask-size: 24px 24px;
    }
  }

  &__title-count {
    font-weight: 500;
    color: var(--colorGinTitle);
    text-transform: none;
  }
}

.system-status-general-info {
  &__header {
    margin-bottom: .5rem;
  }

  &__items {
    border-bottom: 0 none;
  }

  &__item {
    border-top: 0 none;
    background: transparent;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      border-left: 0 none;
    }
  }

  &__item-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--colorGinTitle);
  }

  &__sub-item-title {
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;

    &:after {
      content: ":\00a0";
    }
  }

  &__item-icon {
    &--d8:before,
    &--drupal:before {
      mask-image: icon('drupal');
    }

    &--clock:before {
      mask-image: icon('clock');
    }

    &--server:before {
      mask-image: icon('server');
    }

    &--php:before {
      mask-image: icon('php');
    }

    &--database:before {
      mask-image: icon('database');
    }

    &:before {
      background-image: none;
      background-color: var(--colorGinPrimary);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 32px 32px;
    }
  }

  &__run-cron {
    &.button {
      margin: 0;
    }
  }
}

.system-status-report {
  &__status-title {
    font-weight: 500;
    color: var(--colorGinTitle) !important;
  }
}

.color-checked {
  .system-status-report__status-title {
    &:before {
      content: "";
      position: absolute;
      top: 1em;
      left: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.system-status-report__status-title .details-title:before,
.details .system-status-report__status-icon:before {
  width: 20px;
  height: 20px;
}
