.gin-table-scroll-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

table.sticky-header {
  z-index: 97;
  left: auto !important;
  background: transparent;

  // @include mq($breakpointLarge) {
  //   border-top: 1px solid var(--colorGinLayer2Background);
  // }

  th {
    &:first-child {
      border-top-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
    }
  }
}

table {
  thead {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .03);
  }

  th {
    color: var(--colorGinTitle);
    background: var(--colorGinTableHeader);

    @include mq($breakpointMedium) {
      height: auto;
      padding: 1rem;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--colorGinTableBorder);
    }
  }

  tr,
  .draggable-table.tabledrag-disabled tr {
    color: var(--colorGinText);
    background-color: transparent;

    &:hover {
      color: var(--colorGinText);
      background: var(--colorGinItemHover);
    }
  }

  tr.selected {
    .gin--dark-mode & {
      border-color: rgba(white, .2);
    }

    td {
      background-color: var(--colorGinPrimaryLight);
    }
  }

  td {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sortable-heading {
  > a::after {
    background: var(--colorGinTextLight);
    mask-image: icon('sort');
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.tablesort {
  background-color: var(--colorGinPrimary);
  background-image: none;
  mask-image: icon('sort');
  mask-repeat: no-repeat;
  mask-position: 0 50%;
}

.tablesort--asc,
[dir="rtl"] .tablesort--asc {
  mask-image: icon('sort-asc');
}

.tablesort--desc,
[dir="rtl"] .tablesort--desc {
  mask-image: icon('sort-desc');
}

.field-plugin-settings-edit-wrapper {
  float: right;

  + a {
    float: left;
  }
}

.region-title {
  border-bottom: 2px solid var(--colorGinText);
}
