@include mq($breakpointMedium) {
  // Hide unused tabs
  .toolbar .toolbar-bar {
    background: transparent;

    .toolbar-tab {
      &, .toolbar-menu__logo {
        display: none;
      }

      &.toolbar-tab--toolbar-item-administration {
        display: block;
      }
    }
  }

  .toolbar-tab--toolbar-item-administration {
    > .toolbar-icon-menu {
      display: none;
    }
  }

  #toolbar-item-administration-tray {
    display: block;
    position: absolute;
    top: 0;
  }
}

.toolbar-meta {
  display: none;

  @include mq($breakpointMedium) {
    display: block;
    margin-top: -11px;

    .toolbar-bar {
      position: relative;
      height: $topBar;
      z-index: 102;

      .toolbar-tab {
        display: block;
        position: relative;

        &:hover, &:focus-within {
          border-radius: 4px 4px 0 0;

          .toolbar-tray {
            display: block;
          }
        }

        .toolbar-item {
          font-size: 0;
          color: var(--colorGinText);
          width: 39px;
          height: 39px;
          border-radius: 4px 4px 0 0;

          &:before {
            top: 0;
            left: 10px;
          }

          &:focus {
            border-radius: 4px;
          }

          &:focus ~ .toolbar-tray {
            display: block;
          }

          &:hover,
          &:focus {
            background: none;
          }

          &:focus,
          &:hover:focus {
            box-shadow: 0 0 0 2px var(--colorGinLayerBackground),0 0 0 4px var(--colorGinFocus);
          }
        }

        &:hover,
        &:focus {
          .trigger {
            text-decoration: none;
            background: var(--colorGinLayer3Background);
          }
        }

        .toolbar-tray {
          position: absolute;
          left: 0;
          width: 170px;
          background-color: var(--colorGinLayer3Background);
          border-bottom: 0 none;
          // box-shadow: 0px 6px 16px rgba(0,0,0, 0.1);
          box-shadow:  20px 20px 60px rgba(0, 0, 0, .2);
          border-radius: 0 4px 4px 4px;

          a {
            color: var(--colorGinPrimary);
            padding: 12px 16px;
            border-radius: 4px;

            &:hover, &:active {
              color: var(--colorGinButtonText);
              background-color: var(--colorGinPrimary);
            }

            // Has icon
            &.action-link {
              &::before {
                background-color: var(--colorGinPrimary);
              }

              &:hover::before {
                background-color: var(--colorGinButtonText);
              }
            }
          }

          .toolbar-lining {
            padding-right: 0;
          }
        }

        &.hidden {
          display: none;
        }
      }

      .toolbar-id--toolbar-icon-user {
        &:hover {
          .icon-user {
            box-shadow: 0 0 0 2px var(--colorGinAppBackground),
                        0 0 0 5px var(--colorGinLayer3Background);
          }
        }

        .toolbar-tray {
          left: auto;
          right: 0;
          border-radius: 4px 0 4px 4px;
        }

        // If custom user image
        .icon-user ~ .toolbar-tray {
          border-radius: 4px;
        }

        .icon-user {
          border: 1px solid var(--colorGinBorder);
          border-radius: 50%;
          overflow: hidden;
          margin-left: 1rem;
          padding: 0;
          line-height: 0;

          &__image {
            width: 39px;
            height: 39px;
            object-fit: cover;
          }
        }
      }
    }
  }

  @include mq(1140px) {
    .toolbar-bar {
      .toolbar-tab {
        .toolbar-item {
          font-size: inherit;
          width: auto;
          height: auto;
          padding-left: 3.25em;

          &:before {
            top: -1px;
            left: 14px;
          }

          .icon-user {
            &__image {
              width: 34px;
              height: 34px;
            }
          }
        }
      }
    }
  }
}
