.project-update {
  &__status {
    &-icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: bottom;

      img {
        display: none;
      }
    }

    // Error
    & &-icon {
      background-color: var(--colorGinDanger);
      mask-image: icon('error');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 20px 20px;
    }

    &--security-error {
      color: var(--colorGinDanger);

      span {
        position: relative;
        top: 2px;
      }
    }

    // Outdated
    &--not-current &-icon {
      background-color: var(--colorGinWarning);
      mask-image: icon('warning');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 20px 20px;
    }

    // Current
    &--current &-icon {
      background-color: var(--colorGinGreen);
      mask-image: icon('status');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 20px 20px;
    }
  }
}

.color-success,
.color-checked,
.upgrade-status-error-list tr.no-known-error,
.upgrade-status-summary tr.no-known-error
{
  border-left: 8px solid var(--colorGinGreen);
  background-color: transparent; //rgba(72, 171, 123, .05);

  &:hover, &:active, &:focus {
    background-color: rgba(72, 171, 123, .1);
  }
}

.color-warning,
.upgrade-status-error-list tr.known-warnings,
.upgrade-status-summary tr.known-warnings {
  border-left: 8px solid var(--colorGinWarning);
  background-color: transparent; //rgba(226, 151, 0, .05);

  &:hover, &:active, &:focus {
    background-color: rgba(226, 151, 0, .08);

    .gin--dark-mode & {
      color: var(--colorGinWarning);
      background-color: rgba(222, 193, 95, .1);
    }
  }
}

.color-error,
.upgrade-status-error-list tr.known-errors,
.upgrade-status-summary tr.known-errors {
  border-left: 8px solid var(--colorGinDanger);
  background-color: transparent; //rgba(222, 117, 96, .1);

  &:hover, &:active, &:focus {
    background-color: rgba(222, 117, 96, .2);
  }
}

.color-success,
.color-warning,
.color-error,
.color-checked {
  color: var(--colorGinText);
  box-sizing: border-box;
}

.update {
  margin: 0;
  border: 0 none;

  tbody {
    tr:last-child {
      border-bottom: 0 none;
    }
  }
}

.layer-wrapper {
  .responsive-enabled {
    margin-top: 0;
  }
}

.block-system > form .layer-wrapper,
.panel .admin-list,
.block-system > form .dataset-table-wrapper {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}

.compact-link {
  font-size: 0.875rem;
  text-align: right;
}

// Install & Uninstall search.
.system-modules,
.system-modules-uninstall {
  .table-filter {
    .form-type--search {
      margin-top: 0;
    }
  }

  .table-filter-text {
    width: 100%;
    padding: 1rem;
  }
}
