@keyframes fadeInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

// Option for 6 column layout
.show-6 {
  .views-row {
    @include mq($breakpointTiny) {
      float: left;
      width: 50%;
    }

    @include mq($breakpointSmall) {
      width: 25%;
    }

    @include mq($breakpointLarge) {
      width: 20%;
    }

    @include mq($breakpointWide) {
      width: 16.666666667%;
    }
  }
}

.block-system > form,
.view-content .views-form {
  .claro-details {
    box-shadow: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .views-table {
    order: -1;
    margin-top: 0;
  }

  [data-drupal-selector*="edit-header"] {
    order: 99;
    position: relative;
    left: 0;
    padding: 0 16px 16px 16px;
    background: rgba(#e2e5ec, .98);
    border-radius: 4px;

    [data-drupal-selector*='edit-views-bulk-operations-bulk-form'] {
      > * {
        margin-right: .5rem;
      }

      .form-type--select,
      .form-actions {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .form-actions {
        justify-content: flex-end;
      }

      .form-type--checkbox {
        align-self: center;
      }
    }

    .gin--dark-mode & {
      background: rgba($colorDarkAppBackground, .98);
    }

    .form-item__label:not([for='edit-select-all']) {
      display: block;
      float: left;
      margin-right: 1rem;
      line-height: 1.5;
    }

    &.is-sticky {
      z-index: 4;
      position: sticky;
      left: 0;
      bottom: 0;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .03);
      animation: fadeInBottom 320ms 1 forwards;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.views-exposed-form.views-exposed-form {
  padding-top: 8px;
}

.view-files .view-content {
  padding-top: 0;
}

.layer-wrapper {
  padding: 24px;

  @include mq(max-width $breakpointLarge) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  & + .layer-wrapper {
    margin-top: 24px;
  }

  & + h3 {
    margin-top: 32px;
  }
}

.views-edit-view {
  .unit-title {
    margin-top: 0;
    margin-bottom: 1rem;
    @extend h2;
  }
}

.view-preview-form {
  &__title {
    padding: 0;
    background-color: transparent;
    border-bottom: 0 none;
  }

  .preview-section {
    padding: 16px;
  }

  .view-filters .preview-section {
    display: flex;
    flex-wrap: wrap;
  }

  .form-actions {
    align-items: flex-end;
  }
}

.views-displays {
  border-color: var(--colorGinLayer2Border);
  border-radius: 4px;
  overflow: hidden;
}

.views-admin {
  .icon.add {
    background: none;

    &:before {
      content: "+";
      font-size: 1rem;
      line-height: .1;
    }
  }
}

.views-display-top {
  padding: 16px;
  background-color: var(--colorGinLayer2Background);
  border: 0 none;
  border-bottom: 1px solid var(--colorGinLayer2Border);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .dropbutton-wrapper {
    top: 18px;
    right: 24px;
  }

  .dropbutton--small .dropbutton__item > a {
    line-height: 1.3rem;
  }
}

.edit-display-settings {
  padding: 24px;
  margin: 0;
}

.views-tabs {
  a {
    padding: 8px 16px;
  }

  li a {
    background: var(--colorGinLayer2Background);
    border: 1px solid var(--colorGinPrimary);
  }

  li a:hover, li.is-active a, li.is-active a.is-active {
    color: var(--colorGinAppBackground);
    background: var(--colorGinPrimary);
    border-color: transparent;
  }

  .add {
    &.open {
      a {
        background: var(--colorGinLayer2Background);

        &:hover, &:focus, &:active {
          color: var(--colorGinPrimary);
        }
      }
    }
  }

  .action-list {
    top: 36px;
    background: var(--colorGinLayer3Background);
    box-shadow: 0 1px 2px var(--colorGinButtonShadow);

    li {
      background-color: transparent;
      border: none;

      input.button {
        width: 100%;
        text-align: left;
        line-height: 1.2;
        box-shadow: none;
        border: none !important;
      }

      &:hover, &:focus, &:active {
        &,
        input.button {
          color: var(--colorGinButtonText);
          background: var(--colorGinPrimary);
        }
      }
    }
  }
}

.views-ui-display-tab-bucket {
  border-bottom-color: var(--colorGinBorder);

  & &__title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--colorGinTitle);
    text-transform: none;
    padding: 16px;
  }

  .views-display-setting,
  .views-ui-display-tab-bucket > .views-display-setting {
    padding: 8px 16px;
  }

  .views-display-setting {
    color: var(--colorGinText);
  }

  .views-display-setting:nth-of-type(even) {
    background-color: transparent;
  }

  .dropbutton-wrapper {
    top: 16px;
    right: 16px;
  }

  &.pager {
    margin: 0;
  }
}

.views-ui-display-tab-actions {
  .views-ui-display-tab-setting {
    padding: 16px;
  }
}

.views-query-info table tr {
  background-color: var(--colorGinLayer2Background);

  td {
    color: var(--colorGinText);
  }
}

.system-modules,
.locale-translation-status-form {
  tr.even,
  tr.odd {
    background: none;
    border-top: 1px solid var(--colorGinLayer2Border);
    border-bottom: none;
  }
}

.system-modules td {
  padding: 1rem;
  height: auto;

  details summary {
    background-color: transparent;
  }
}

.views-display-column,
.edit-display-settings-top.views-ui-display-tab-bucket {
  border-color: var(--colorGinBorder);
}

.views-ui-dialog {
  .form--inline {
    padding-top: 0;
  }

  .views-override:not(:empty) {
    background-color: var(--colorGinAppBackground);
    border-bottom: 0 none;
  }

  .form-item--fields-area-text-custom-removed {
    display: inline-block;
    margin-right: 4px;
  }
}

.views-filterable-options {
  border-top: none;
}

.view-block-content .views-table {
  margin-top: 0;
}

.views-display-columns {
  .details-wrapper {
    margin: 0;
  }
}

.machine-name-label {
  color: var(--colorGinText);
}

.machine-name-value {
  color: var(--colorGinTitle);
}

.views-exposed-form .form-datetime-wrapper {
  margin-bottom: 0;
  margin-right: .5rem;
}
