.webform-filter-form {
  margin-bottom: 2rem;

  .details-wrapper {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  // Followed by a title
  + div:not(.layer-wrapper) {
    @extend h3;
    margin-bottom: .75rem;
  }
}

.webform-element-help {
  color: var(--colorGinText);
  background: transparent;
  border-color: var(--colorGinText);

  &:hover,
  &:active,
  &:focus {
    color: var(--colorGinPrimary);
    border-color: var(--colorGinPrimary);
    background-color: transparent;
  }

  &--title {
    color: var(--colorGinTitle);
  }
}

.ui-tooltip.ui-widget {
  font-size: .875rem;
  color: var(--colorGinText);
  padding: 1rem;
  background: var(--colorGinLayer3Background);
  box-shadow:  20px 20px 60px rgba(0, 0, 0, .2);
  border: 0 none;
  border-radius: 6px;

  hr {
    margin: .5rem 0;
  }
}

.webform-details-toggle-state {
  color: var(--colorGinPrimary);
}

.toolbar-tray-open.toolbar-horizontal .webform-ui-dialog {
  top: 50% !important;
}

.webform-ui-elements-table {
  tr.webform-ui-element-type-webform_actions {
    td {
      border-top: none;
      border-bottom: none;
      background: none;
    }
  }
}

.webform-tabs.ui-tabs {
  .ui-tabs-nav {
    border-bottom: 0 none;

    .ui-tabs-active.ui-state-active a {
      border: 2px solid var(--colorGinPrimary);
      border-radius: 6px;
    }
  }
}
