$breakpointTiny: 420px;
$breakpointXSmall: 588px;
$breakpointSmall: 768px;
$breakpointMedium: 976px;
$breakpointLarge: 1024px;
$breakpointWide: 1280px;
$breakpointBig: 1440px;

$topBar: 39px;
$contentHeaderSpacer: 52px;
$toolbarWidth: 80px;
$toolbarOpenWidth: 240px;
$subToolbarWidth: 260px;
$sidebarSmallWidth: 300px;
$sidebarWidth: 360px;

$iconFill: '787878';
$iconActiveFill: '003cc5';

$basic-easing: cubic-bezier(.455, .03, .515, .955);
$fancy-easing: cubic-bezier(.19, 1, .22, 1);
$transition: .15s $fancy-easing;
$transition--fast: .3s $fancy-easing;

$colorAppBackground: #fbfbff; //#f5f7fb;
$colorAppBackgroundShadow: #f5f5f9; //#f5f7fb;
$colorDarkAppBackground: #1B1B1D;
$ginPrimary: #0136fd; //#2337f1; //#003cc5;
$ginPrimaryDark: #080090;

$mixColor: #0136fd; //#2353f1;

$ginPrimaryHover: mix(black, $ginPrimary, 15%);
$ginPrimaryActive: mix(black, $ginPrimary, 25%);
